{% extends 'bootstrap.html.twig' %}

{% block body %}

    <h2>{{ article.name }}</h2>

    <span>{{ article.createdAt|date("m/d/Y H:i") }}</span>

    <p class="text-md-left">{{ article.description }}</p>

    <div class="row">
    {% if comments %}
        <div class="col-12">
            <h5>Комментарии:</h5>
    {% for comment in comments %}
            <div class="col-12 alert alert-success">
            <div class="col-12">{{ comment.message }}</div>
            <div class="col-12"><small>{{ comment.createdAt|date("m/d/Y H:i") }}</small></div>
            </div>
    {% endfor %}
        </div>
    {% endif %}
        <div class="col-12">
            <h5>Добавить комментарий:</h5>
            {{ form(form) }}
        </div>
    </div>

    <a href="{{ path("article_homepage") }}" class="alert-link">Back to the articles list</a>

{% endblock %}
